* {
  box-sizing: border-box;
}

html {
  height:100%;
  font-family: "Roboto", "Helevetica Neue", Helvetica, Arial, sans-serif;
}

body {
  /*background-color: #fff; */
  background: #FDFDFD;
  /* TODO: image ? */
}

h3 {
  font-size: 15px;
  font-weight: bold;
  color: #555555;
  margin: 0;
  text-transform: uppercase;
}

#info {
  margin: 30px auto;
  width: 540px;
  color: #555555;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07),
    0 2px 4px rgba(0,0,0,0.07),
    0 4px 8px rgba(0,0,0,0.07),
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07),
    0 32px 64px rgba(0,0,0,0.07);
  animation: 600ms cubic-bezier(0.0, 0.0, 0.2, 1) fadeThrough;
}

#errorMsg {
  padding: 8px 0px;
  color: #B94A48;
  background-color: #F2DEDE;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
